body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: gold; /* Color dorado */
}

.subtitle {
    font-size: 1.2em;
}

.centered-image {
    display: block;
    margin: 0 auto;
    width: 50%; /* Ajusta el ancho de la imagen según tus necesidades */
}

form, #purchaseDetails {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black; /* Color de texto dorado */
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select {
    width: calc(100% - 22px); /* Para ajustar el ancho según el padding */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid gold; /* Borde dorado */
    border-radius: 50px; /* Bordes ovalados */
    outline: none; /* Quita el contorno predeterminado */
}

form select {
    width: 100%; /* Ancho completo */
}

form button, #showFormBtn {
    background-color: gold; /* Color dorado */
    color: black; /* Color de texto negro */
    border: 2px solid gold; /* Borde dorado */
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}
